<!DOCTYPE html>
<html>
  <head>
    <title>Ferret!</title>
    <link rel="stylesheet" href="../app/assets/stylesheets/bootstrap.css"/>
  </head>
  
  <body>
    <header>
      <div class="navbar navbar-inverse">
	<div class="navbar-inner">
	  <a class="brand" href="#">Ferret</a>
	  <ul class="nav">
	    <li class="active"><a href="#">Home</a></li>
	    <li><a href="#">Help</a></li>
	    <li><a href="#">Sign in</a></li>
	  </ul>
	</div>
      </div>
    </header>

    <div class="container">
      <div class="center hero-unit" style="text-align:center;">
	<h1>Ferret</h1>
	<p> Ferret is a centralized platform for frc scouting </p>
	<a class="btn btn-large btn-primary"> Join Now </a>
      </div>
      <hr>
      <footer>
	<ul style="color:black;">
	  <li> about </li>
	  <li> contact </li>
	</ul>
      </footer>
    </div>
    
  </body>

</html>
