<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to 'Ferret', root_path, id: 'logo' %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Help', help_path %></li>
	  <!--Uh huh well this will be integrated with
	      devise so if some one is logged in it will
	       put their name and shit but for now eh -->
	  <li><%= link_to 'Sign In', '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
